.checkbox-wrapper-15 .cbx {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.checkbox-wrapper-15 .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-15 .cbx span:first-child {
  border: 2px solid #5a3aa9;
  border-radius: var(--radius-full);
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  transform: scale(1);
  transition: var(--transition-fast);
  vertical-align: middle;
  background-color: transparent;
}
.checkbox-wrapper-15 .cbx span:first-child svg {
  position: absolute;
  z-index: 1;
  top: 0.375rem;
  left: 0.25rem;
  fill: none;
  stroke: var(--white);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1rem;
  stroke-dashoffset: 1rem;
  transition: var(--transition-all);
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-15 .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--white);
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: var(--radius-full);
  transition-delay: 0.2s;
}
// .checkbox-wrapper-15 .cbx span:last-child {
//   margin-left: 8px;
// }
.checkbox-wrapper-15 .cbx span:last-child:after {
  content: "";
  position: absolute;
  top: var(--spacing-sm);
  left: 0;
  height: 1px;
  width: 100%;
  transform-origin: 0 0;
  transform: scaleX(0);
}
.checkbox-wrapper-15 .cbx:hover span:first-child {
  border-color: #5a3aa9;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child {
  border-color: #5a3aa9;
  background: #5a3aa9;
  animation: check-15 0.6s ease;
}
.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(2.2);
  opacity: 0;
  transition: all 0.6s ease;
}
.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:last-child {
  color: #5a3aa9;
  border: 2px solid var(--white);
  transition: var(--transition-all);
}
.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:last-child:after {
  transform: scaleX(1);
  transition: var(--transition-all);
}

@keyframes check-15 {
  50% {
    transform: scale(1.2);
  }
}
